{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}
<!-- Login -->
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active"> Sign In </h2>
    <h2 class="inactive underlineHover"> <a href="/register">Sign Up</a> </h2>

    <!-- Login Form -->
    <form method="POST">
      {% csrf_token %}
      {{ login_form|crispy }}
      <a>
        <input type="submit" class="login__button fadeIn fourth" value="Log in">
      </a>
    </form>

    <!-- message's section - START -->
    <div class="container">
      {% if messages %}
      {% for message in messages %}
      <strong>{{ message }}</strong>
      {% endfor %}
      {% endif %}
    </div>
    <!-- message's section - END -->
  </div>
</div><!-- Login -->
{% endblock %}
