{% extends "base.html" %}
{% block content %}

<div class="container"><br>
    <!-- Personal information - first card -->
    {% block _profile_personal_information %}
    {% include "user/partials/_profile_personal_information.html" %}
    {% endblock _profile_personal_information %}

    <br><br>


    <div class="card"><!-- second card - Actions -->
        <div class="container">
            <h3 >Actions</h3>
            <a class="btn btn-sm btn-outline-secondary" href="{% url 'app:homepage' %}">Back Home</a>
            <p>BTC Wallet: {{wallet.btc_wallet}} </p>
            <p>USD Wallet: {{wallet.usd_wallet}} </p>

            {% if user.is_superuser %}
            <br><br><a class="btn btn-sm btn-outline-primary" href="http://127.0.0.1:8000/admin/">Django admin's site</a><br>
            <br><a class="btn btn-sm btn-outline-primary" href="{% url 'user:ip-check' %}">Ip check</a><br>

            {% endif %}
        </div><br>
    </div><!-- second card - Actions-->
</div>

{% endblock %}
