{% extends "base.html" %}
{% block content %}

<div class="container"><br><!-- main container -->
    <!-- Personal information - first card -->
    {% block _profile_personal_information %}
    {% include "user/partials/_profile_personal_information.html" %}
    {% endblock _profile_personal_information %}

    <br><br>

    <!-- Other information - second card -->
    {% block _profile_other_information %}
    {% include "user/partials/_profile_other_information.html" %}
    {% endblock _profile_other_information %}


</div><!-- main container -->

{% endblock %}
