{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- TODO eliminare file html -->
<br>

<div class="container"><!-- main container -->

    <!-- Title -->
    {% block _buy_title %}
    {% include "app/partials/_buy_title.html" %}
    {% endblock _buy_title %}

    <br>

    <!-- Wallet's information -->
    {% block _buy_wallet_info %}
    {% include "app/partials/_buy_wallet_info.html" %}
    {% endblock _buy_wallet_info %}

    <br>

    <!-- Messages -->
    {% for message in messages %}
    {% if 'success' in message.tags %}
    <div class="card green lighten-2 white-text">
        {% elif 'error' in message.tags %}
        <div class="card red lighten-2 white-text">
            {% endif %}

            <div class=" card-content center">
                <h5 class="">{{ message }}</h5>
            </div>
        </div>
    </div>
    {% endfor %}

    <section class="container section scrollspy" id="services">
        <div class="container row">

            <div class="col s12 l12">

                <!-- Card: Buy Order - form -->
                <div class="container" id="buy-card" >
                    <div class="card text-white  mb-3">
                        <div class="card-action center-align flow-text white-text">
                            Purchase-BITCOIN
                        </div>
                        <div class="card-stacked">
                            <div class="card-content ">
                                <form action="." method="POST" >
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    <input class="btn black" type="submit" value="Submit buy order" name="buy"/>
                                </form>
                            </div>
                        </div>

                    </div>
                </div><!-- Card: Buy Order - form -->
            </div>
        </div>
    </section>


    <!--- Order's book -->
    <div class="card rounded shadow">
        <div class="card-body"><!--- card body -->
            <h3 class="card-title">Order book</h3>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Hi {{ wallet.user }}, this is order book.</p>

            <!-- table  -->
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Quantity (BTC)</th>
                    <th>Value (USD)</th>
                    <th>Date</th>
                </tr>
                </thead>
                <tbody>
                {% for order in buy_orders_list %}
                <tr>
                    <td>{{order.user}}</td>
                    <td>{{ order.quantity|floatformat:2}} BTC</td>
                    <td>{{ order.price|floatformat:2}}$</td>
                    <td>{{order.created}}</td>
                </tr>
                {% endfor %}
                </tbody>

            </table><!-- table -->

            <a href="{% url 'user:profile' user.id %}" class="card-link">Profile</a>
            <a href="{% url 'app:homepage' %}" class="card-link">Home</a>
        </div><!--- card body -->
    </div><!--- Order's book -->
</div><!-- main container -->


{% endblock content %}