{% extends "base.html" %}

{% block content %}

<div class="container"><!-- main container -->
    <br>

    <!--- Wallet info - main card -->
    <div class="card rounded shadow" style="background-color: #E7C99C">
        <div class="card-body"><!--- Wallet info - card body -->
            <h3 class="card-title">{{ wallet.user }}'s wallet</h3>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Hi {{ wallet.user }}, this is your wallet! In this card you can view your wallet's information.</p>

            <table class="table table-hover"><!-- table wallet's information -->
                <thead>
                <tr>
                    <th>Bitcoin (BTC)</th>
                    <th>Dollars ($)</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ wallet.btc_wallet }}</td>
                    <td>{{ wallet.usd_wallet|floatformat:3 }}</td>
                </tr>
                </tbody>

            </table><!-- table wallet's information -->

            <a href="{% url 'user:profile' user.id %}" class="card-link">Profile</a>
            <a href="{% url 'app:homepage' %}" class="card-link">Home</a>
        </div><!--- Wallet info - card body -->
    </div><!--- Wallet info - main card -->


    <br>
    <!-- card for form -->
    <div class="card rounded shadow" style="background-color: #E7C99C">
        <div class="card-body"><!-- card body -->

            <h3 class="card-title">Form</h3>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Description</p>
            <div class="card-content">
                <form action="." method="POST" >
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input class="btn black  " type="submit" value="Submit buy order" name="buy" style="margin: 10px;"/>
                </form>
            </div>
            <a href="{% url 'user:profile' user.id %}" class="card-link">Profile</a>
            <a href="{% url 'app:homepage' %}" class="card-link">Home</a>


        </div><!-- card body -->

    </div><!-- card for form -->


</div><!-- main container -->


{% endblock content %}
