<div class="card rounded shadow" style="background-color: #E7C99C"><!-- first card - Profile -->
    <div class="container"><!-- main container -->
        <div style="margin: 10px;">
            <h3>Personal information</h3>
        </div>

        <!-- table - personal information -->
        <table class=" table">
            <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Last Login</th>
                <th>Last IP</th>

            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ user_profile.user.username }}</td>
                <td>{{ user_profile.user.email }}</td>
                <td>{{ user_profile.user.last_login }}</td>
                <td>{{ user_profile.ip_address }}</td>
            </tr>
            </tbody>
        </table><!-- table - personal information -->


        <a class="btn btn-sm btn-outline-primary">Edit profile</a>
        <a class="btn btn-sm btn-outline-primary" href="{% url 'user:password-change' %}">Change password</a>
        <a class="btn btn-sm btn-outline-primary" href="#">Page to buy</a>

        <br><br>
    </div><!-- main container -->
</div><!-- first card - Profile -->