<div class="card"><!-- first card - Profile -->
    <div class="container"><!-- main container -->
        <div style="margin: 10px;">
            <h3>Profile</h3>
        </div>
        <table class=" table"><!-- table -->
            <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Last IP</th>
                <th>Last Login</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
            </tr>
            </tbody>
        </table><!-- table -->

        <a class="btn btn-sm btn-outline-primary">Edit profile</a>
        <a class="btn btn-sm btn-outline-primary" href="{% url 'user:password-change' %}">Change password</a>
        <br><br>
    </div><!-- main container -->
</div><!-- first card - Profile -->