<div class="card rounded shadow"><!-- second card - Actions -->
    <div class="container">
        <div style="margin: 10px;">
            <h3 >Other information</h3>
            <p>User id: {{ wallet.user.id}}</p>
        </div>

        <table class=" table"><!-- table -->
            <thead>
            <tr>
                <th>BTC Wallet</th>
                <th>USD Wallet</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ wallet.btc_wallet }}</td>
                <td>{{ wallet.usd_wallet|floatformat:4 }}</td>
            </tr>
            </tbody>
        </table><!-- table -->

        <a class="btn btn-sm btn-outline-secondary" href="{% url 'app:homepage' %}">Back Home</a>

        {% if user.is_superuser %}
        <br><br><a class="btn btn-sm btn-outline-primary" href="http://127.0.0.1:8000/admin/">Django admin's site</a><br>
        <br><a class="btn btn-sm btn-outline-primary" href="{% url 'user:ip-check' %}">Ip check</a><br>

        {% endif %}
    </div><br>
</div><!-- second card - Actions-->