<div class="card rounded shadow" style="background-color: #E7C99C">
    <br>

    <!-- card title -->
    <div class="container text-center">
        <h4><strong>Your Wallet</strong></h4>
    </div>

    <div class="container">
        <!-- wallet table -->
        <table class=" table" >
            <thead>
            <tr class="white-text flow-text">
                <th>Bitcoins available</th>
                <th>Initial Bitcoins</th>
                <th>Dollars available</th>
                <th>Initial dollars</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ profile_pocket.btc_wallet|floatformat:8 }}</td>
                <td>{{ profile_pocket.btc_balance|floatformat:8 }}</td>
                <td>{{ profile_pocket.usd_wallet|floatformat:4 }}$</td>
                <td>{{ profile_pocket.usd_balance|floatformat:4 }}$</td>
            </tr>
            </tbody>
        </table><!-- wallet table -->
    </div>
</div>
