{% extends 'base.html' %}
{% block content %}

<br>
<div class="container"><!-- main container -->
  <div class="card rounded shadow" style="background-color: #E7C99C"><!-- card -->
    <div class="container">
      <div style="margin: 10px;">
        <h3>Your password was changed successfully!</h3>
        <br>
        <a class="btn btn-sm btn-outline-secondary" href="{% url 'app:homepage' %}">Back Home</a>
      </div>
      <br>
    </div>
  </div><!-- card -->
</div><!-- main container -->

{% endblock content %}