{% extends 'base.html' %}
{% block content %}

<br>
<div class="container"><!-- main container -->
    <div class="card rounded shadow" style="background-color: #E7C99C"><!-- card -->
        <div class="container">
            <div style="margin: 10px;">
                <h3>Change password</h3>
            </div>

            <div class="card-content" style="margin: 10px;">
                <form action="." method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input class="btn btn-outline-danger btn-sm" type="submit" value="Change password" style="margin: 10px;"/>
                </form>
            </div>
            <br><br>
        </div>
    </div><!-- card -->
</div><!-- main container -->

{% endblock content %}