{% extends "base.html" %}
{% block content %}

<!-- message's section - START -->
<br><div class="container">
    {% if messages %}
    {% for message in messages %}
    <strong>{{ message }}</strong>
    {% endfor %}
    {% endif %}
</div>
<!-- message's section - END -->


<div class="container"><!-- main container -->

    {% block _homepage_bitcoin %}
    {% include "partials/_homepage_bitcoin.html" %}
    {% endblock _homepage_bitcoin %}

    <br><br>

    {% block _orders %}
    {% include "app/partials/_orders.html" %}
    {% endblock _orders %}

<!-- TODO lezione "floats" impostazione "clear" per il footer -->

</div><!-- main container -->

{% endblock %}

<!-- TODO guardare lezione "floats" per impostare meglio l'html -->
