{% extends "base.html" %}
{% block content %}

<!-- message's section - START -->
<br><div class="container">
    {% if messages %}
    {% for message in messages %}
    <strong>{{ message }}</strong>
    {% endfor %}
    {% endif %}
</div>
<!-- message's section - END -->


<div class="container"><!-- main container -->

    <div class="card rounded shadow bg-dark bg-gradient text-white"><!-- card for bitcoin's info -->


        <div class="container">
            <h3>Bitcoin price: {{currency}} $</h3>
        </div>


    </div><!-- card for bitcoin's info -->

    <br><br>


    <div class="row justify-content-around">
        <div class="card col-4">
            <h3>BUY</h3>
        </div>
        <div class="card col-4">
            <h3>SELL</h3>
        </div>
    </div>

</div><!-- main container -->

{% endblock %}
