{% extends "base.html" %}
{% block content %}

<!-- message's section - START -->
<br><div class="container">
    {% if messages %}
    {% for message in messages %}
    <strong>{{ message }}</strong>
    {% endfor %}
    {% endif %}
</div>
<!-- message's section - END -->


<div class="container"><!-- main container -->

    <div class="card"><!-- card for bitcoin's info -->


        <div class="container bg-dark bg-gradient text-white">
            <h3>Bitcoin price: {{currency}} $</h3>
        </div>


    </div><!-- card for bitcoin's info -->

</div><!-- main container -->

{% endblock %}
