{% load static %}
<div class="card rounded shadow">
    <div class="card-body">
        <h5 class="card-title">Bitcoin</h5>
        <h6 class="card-subtitle">Price: <strong>{{currency}} $</strong>
            <a href="https://coinmarketcap.com" class="link-primary" target="_blank">CoinMarketCap</a>
        </h6><br><!-- todo eliminare br -->
        <p class="card-text">
            <strong>What is?</strong>
            Bitcoin is a cryptocurrency, a digital asset designed to work as a medium of exchange that uses cryptography to control its creation and management, rather than relying on central authorities.
        </p>
        <a href="https://en.wikipedia.org/wiki/History_of_bitcoin" class="btn btn-primary" id="button-primary" target="_blank">Read more...</a>
    </div>
</div>
