<nav class="navbar shadow navbar-expand-lg">
  <div class="container">

    <div class="navbar-nav">
      <a class="navbar-brand" href="{% url 'app:homepage' %}">Djongo - exchange</a>
      <a class="nav-item nav-link" href="{% url 'app:order' user.id %}">Order</a>

    </div>

    <div class="navbar-nav">
      <a class="nav-item nav-link" href="{% url 'app:homepage' %}">Home</a>
      <a class="nav-item nav-link" href="{% url 'user:profile' user.id %}">Profile</a>
      <a class="nav-item nav-link" href="/logout/">Logout</a>
    </div>
  </div>
</nav>