<nav class="navbar shadow navbar-expand-lg">
  <div class="container">

    {% block _navbar_brand %}
    {% include "partials/_navbar_brand.html" %}
    {% endblock _navbar_brand %}

    <!-- div collapse -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      {% block _navbar_onorder_list %}
      {% include "partials/_navbar_onorder_list.html" %}
      {% endblock _navbar_onorder_list %}

      {% block _navbar_search %}
      {% include "partials/_navbar_search.html" %}
      {% endblock _navbar_search %}

    </div><!-- div collapse -->
  </div>
</nav>